spring.autoconfigure.exclude: org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration
server:
  servlet:
    context-path: /soknad-kontantstotte-api
management:
   endpoints.web.exposure.include: '*'
http.proxy: http://webproxy-nais.nav.no:8088
no.nav.security.oidc:
  issuers: selvbetjening
  issuer.selvbetjening:
    discoveryurl: <Hentes fra fasit>
    acceptedaudience: <Hentes fra fasit>
    cookie_name: selvbetjening-idtoken
logging.level.no.nav.security.oidc: debug